.header-wrapper {
  position: fixed;
  z-index: 3;
  width: 50%;
  background-color: white;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 0.625rem;
  height: 2.5rem;
  left: 25%;
  top: 5%;
}

.header-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border: none;
  background-color: white;
  border-radius: 0.625rem;
  text-decoration: none;
  color: black;
}

.clicked {
  background-color: #dadada;
  /* color: white; */
}
