.ranking-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 15%;
  width: 70%;
  top: 20%;
  height: 70%;
  background-color: white;
  border-radius: 1.875rem;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 5;
}

.ranking-team {
  display: inline-flex;
  width: 20%;
  height: 80%;
  margin: 0;
  justify-content: flex-end;
  flex-direction: column;
}

.ranking-team-circle {
  border-radius: 50%;
  line-height: 5.625rem;
  font-size: 1.875rem;
  text-align: center;
}

.ranking-team-first {
  width: 100%;
  height: 16.5625rem;
  margin-top: 0.625rem;
  display: inline-block;
  border: solid 0.9375rem #ff9e9c;
  background-color: #fff5f5;
  font-size: 8.125rem;
  line-height: 15.625rem;
  text-align: center;
  color: #ff9e9c;
  box-sizing: border-box;
}

.ranking-team-second {
  width: 100%;
  height: 13.4375rem;
  margin-top: 0.625rem;
  display: inline-block;
  border: solid 0.9375rem #ff9e9c;
  border-left: none;
  background-color: #fff5f5;
  font-size: 8.125rem;
  line-height: 12.5rem;
  text-align: center;
  color: #ff9e9c;
  box-sizing: border-box;
}

.ranking-team-third {
  width: 100%;
  height: 10.3125rem;
  margin-top: 0.625rem;
  display: inline-block;
  border: solid 0.9375rem #ff9e9c;
  border-left: none;
  background-color: #fff5f5;
  font-size: 8.125rem;
  line-height: 9.375rem;
  text-align: center;
  color: #ff9e9c;
  box-sizing: border-box;
}
