.app-root {
  background-color: #fff5f5;
  height: 100vh;
  z-index: 1;
}

.background-circle {
  display: inline-block;
  position: fixed;
  z-index: 2;
  top: -50%;
  left: -15vw;
  width: 130vw;
  height: 94.6vh;
  border-radius: 40%;
  background: linear-gradient(to bottom, #ff9c9c, #ffc49c);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
}